<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CNU SC Perla del Oriente</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <nav>
        <a href="#inscription" @click="changePage('inscription')"
          :class="{ active: currentPage === 'inscription' }">Inscripción</a>
        <a href="admin.html" @click="changePage('admin')" :class="{ active: currentPage === 'admin' }">Administradores</a>
        <a href="postulacion.html" @click="changePage('speakers')" :class="{ active: currentPage === 'speakers' }">Postulación
          de Disertantes</a>
        <a href="cronograma.html" @click="changePage('schedule')"
          :class="{ active: currentPage === 'schedule' }">Cronograma</a>
        <a href="disertantes.html" @click="changePage('confirmed-speakers')"
          :class="{ active: currentPage === 'confirmed-speakers' }">Disertantes Confirmados</a>
      </nav>
    </header>
    <main class="container">
      <component :is="currentPageComponent"></component>
    </main>
  </div>

  <script>
    const InscriptionPage = {
      template: `
    <div>
      <h1>Inscripción al Congreso Nacional de Universidades</h1>
      <div class="card">
        <h2>¡Prepárate!</h2>
        <div class="loading-bar">
          <div class="loading-progress" :style="{ width: loadingProgress + '%' }"></div>
        </div>
        <p>{{ loadingMessage }}</p>
      </div>
      <form @submit.prevent="submitInscription">
        <input v-model="name" type="text" placeholder="Nombre completo" required>
        <input v-model="email" type="email" placeholder="Correo electrónico" required>
        <!-- Selector de universidades -->
        <select v-model="university" required>
          <option value="">Selecciona tu universidad</option>
          <option v-for="uni in universitiesData" :key="uni.nombre" :value="uni.nombre">{{ uni.nombre }}</option>
        </select>
        <!-- Selector de carreras -->
        <select v-model="career" required :disabled="!university">
          <option value="">Selecciona tu carrera</option>
          <option v-for="car in filteredCareers" :key="car" :value="car">{{ car }}</option>
        </select>
        <select v-model="semester" required>
          <option value="">Selecciona tu semestre o año</option>
          <option v-for="sem in semesters" :value="sem">{{ sem }}</option>
        </select>
        <textarea v-model="comments" placeholder="Comentarios adicionales (opcional)"></textarea>
        <select v-model="managerCode">
          <option value="">Código de encargado (opcional)</option>
           <option v-for="(code, index) in managerCodes" :key="index" :value="index">
    {{ code }}
  </option>
        </select>
        <h3>Método de pago</h3>
       <div class="payment-method-container">
  <div class="payment-option">
    <input type="radio" id="bank" value="bank" v-model="paymentMethod" class="payment-radio">
    <label for="bank" class="payment-label">Depósito bancario</label>
  </div>
  <div class="payment-option">
    <input type="radio" id="qr" value="qr" v-model="paymentMethod" class="payment-radio">
    <label for="qr" class="payment-label">Pago mediante QR</label>
  </div>

  <div v-if="paymentMethod === 'bank'" class="bank-info">
    <p><strong>Datos bancarios:</strong></p>
    <p>Banco: Banco Bisa</p>
    <p>Número de cuenta caja de ahorro: 7214504019</p>
  </div>

  <div v-if="paymentMethod === 'qr'" class="qr-info">
    <img src="assets/qr.jpg" class="qr-code">
  </div>
</div>
        <input type="file" @change="handleFileUpload" accept=".pdf,.jpg,.png" required>
        <button type="submit">Enviar Inscripción</button>
      </form>
    </div>
  `,
      data() {
        return {
          name: "",
          email: "",
          university: "",
          career: "",
          semester: "",
          comments: "",
          managerCode: "",
          paymentMethod: "",
          universitiesData: [
            {
              nombre: "Universidad Autónoma Gabriel René Moreno (UAGRM)",
              carreras: [
                "Ingeniería Civil",
                "Ingeniería Industrial",
                "Ingeniería Química",
                "Ingeniería Eléctrica",
                "Ingeniería Electrónica",
                "Ingeniería de Sistemas",
                "Ingeniería Mecánica",
                "Ingeniería Petrolera",
                "Ingeniería Ambiental",
                "Arquitectura",
                "Ingeniería en Telecomunicaciones",
                "Economía",
                "Administración de Empresas",
                "Contaduría Pública",
                "Ingeniería Comercial",
                "Ingeniería Financiera",
                "Ingeniería en Marketing y Logística",
                "Comercio Internacional",
                "Derecho",
                "Ciencias Políticas",
                "Relaciones Internacionales",
                "Trabajo Social",
                "Psicología",
                "Comunicación Social",
                "Sociología",
                "Turismo",
                "Filosofía",
                "Idiomas",
                "Educación",
                "Medicina",
                "Odontología",
                "Bioquímica",
                "Farmacia",
                "Enfermería",
                "Nutrición y Dietética",
                "Tecnología Médica",
                "Fisioterapia y Kinesiología",
                "Ingeniería Agronómica",
                "Ingeniería Forestal",
                "Ingeniería en Recursos Naturales Renovables",
                "Ingeniería en Agronegocios",
                "Medicina Veterinaria y Zootecnia",
                "Análisis de Sistemas",
                "Construcciones Civiles",
                "Electricidad Industrial",
                "Electrónica Industrial",
                "Mecánica Industrial",
                "Ingeniería Informática",
                "Ingeniería en Redes y Telecomunicaciones",
                "Diseño Gráfico",
                "Bibliotecología y Ciencias de la Información",
                "Bioquímica y Farmacia",
              ],
            },
            {
              nombre: "Universidad Privada de Santa Cruz de la Sierra (UPSA)",
              carreras: [
                "Ingeniería Civil",
                "Ingeniería Industrial y de Sistemas",
                "Ingeniería Electrónica",
                "Ingeniería de Sistemas",
                "Arquitectura",
                "Ingeniería Comercial",
                "Ingeniería Financiera",
                "Administración de Empresas",
                "Economía",
                "Marketing y Publicidad",
                "Negocios Internacionales",
                "Contaduría Pública",
                "Psicología",
                "Diseño Gráfico",
                "Comunicación Estratégica y Corporativa",
                "Diseño y Gestión de la Moda",
                "Ingeniería en Logística y Transporte",
              ],
            },
            {
              nombre:
                'Universidad Católica Boliviana "San Pablo" - Sede Santa Cruz (UCB)',
              carreras: [
                "Administración de Empresas",
                "Arquitectura",
                "Comunicación Social",
                "Contaduría Pública",
                "Derecho",
                "Economía",
                "Enfermería",
                "Ingeniería Ambiental",
                "Ingeniería Civil",
                "Ingeniería Comercial",
                "Ingeniería de Sistemas",
                "Ingeniería Industrial",
                "Ingeniería Mecatrónica",
                "Psicología",
                "Fisioterapia y Kinesiología",
              ],
            },
            {
              nombre: "Universidad NUR",
              carreras: [
                "Administración de Empresas",
                "Ingeniería Comercial",
                "Marketing y Publicidad",
                "Negocios Internacionales",
                "Ingeniería de Sistemas",
                "Ingeniería en Redes y Telecomunicaciones",
                "Diseño Gráfico",
                "Comunicación Social",
                "Psicología",
                "Derecho",
                "Gastronomía y Hotelería",
              ],
            },
            {
              nombre: "Universidad de Aquino Bolivia (UDABOL)",
              carreras: [
                "Medicina",
                "Odontología",
                "Bioquímica y Farmacia",
                "Veterinaria y Zootecnia",
                "Enfermería",
                "Fisioterapia y Kinesiología",
                "Psicología",
                "Derecho",
                "Ingeniería Comercial",
                "Ingeniería Financiera",
                "Administración de Empresas",
                "Contaduría Pública",
                "Ingeniería de Sistemas",
                "Ingeniería Industrial",
                "Ingeniería Petrolera y Gas Natural",
                "Ingeniería Ambiental",
                "Comunicación Social",
              ],
            },
            {
              nombre: "Universidad Privada Domingo Savio (UPDS)",
              carreras: [
                "Administración de Empresas",
                "Contaduría Pública",
                "Ingeniería Comercial",
                "Marketing y Publicidad",
                "Ingeniería de Sistemas",
                "Ingeniería en Redes y Telecomunicaciones",
                "Diseño Gráfico y Producción Crossmedia",
                "Psicología",
                "Derecho",
                "Comunicación Social",
                "Ingeniería Industrial",
                "Ingeniería Petrolera",
                "Gastronomía y Hotelería",
              ],
            },
            {
              nombre:
                "Universidad Tecnológica Privada de Santa Cruz (UTEPSA)",
              carreras: [
                "Administración de Empresas",
                "Contaduría Pública",
                "Ingeniería Comercial",
                "Ingeniería Financiera",
                "Ingeniería Industrial",
                "Ingeniería de Sistemas",
                "Ingeniería Petrolera y Gas Natural",
                "Ingeniería Ambiental",
                "Marketing y Logística",
                "Comercio Internacional",
                "Diseño Gráfico",
                "Psicología",
                "Derecho",
                "Comunicación Social",
                "Arquitectura",
              ],
            },
            {
              nombre: "Universidad Privada Franz Tamayo (UNIFRANZ)",
              carreras: [
                "Medicina",
                "Odontología",
                "Veterinaria y Zootecnia",
                "Psicología",
                "Administración de Empresas",
                "Ingeniería Comercial",
                "Ingeniería Financiera",
                "Marketing y Publicidad",
                "Ingeniería de Sistemas",
                "Ingeniería Económica y Financiera",
                "Diseño Gráfico y Producción Crossmedia",
                "Comunicación Social",
                "Derecho",
                "Turismo y Hotelería",
                "Gastronomía y Gestión de Restaurantes",
                "Fisioterapia y Kinesiología",
              ],
            },
            {
              nombre: "Universidad para el Desarrollo y la Innovación (UDI)",
              carreras: [
                "Ingeniería de Sistemas",
                "Ingeniería Comercial",
                "Ingeniería Industrial",
                "Administración de Empresas",
                "Contaduría Pública",
                "Psicología",
                "Derecho",
                "Comunicación Social",
                "Diseño Gráfico",
                "Marketing y Publicidad",
                "Gastronomía y Hotelería",
              ],
            },
            {
              nombre: "Universidad Privada Cumbre",
              carreras: [
                "Medicina",
                "Odontología",
                "Bioquímica y Farmacia",
                "Enfermería",
                "Fisioterapia y Kinesiología",
                "Ingeniería de Sistemas",
                "Ingeniería Comercial",
                "Administración de Empresas",
                "Psicología",
                "Derecho",
                "Arquitectura",
              ],
            },
            {
              nombre: "Universidad Evangélica Boliviana (UEB)",
              carreras: [
                "Medicina",
                "Enfermería",
                "Ingeniería de Sistemas",
                "Ingeniería Comercial",
                "Administración de Empresas",
                "Psicología",
                "Teología",
                "Trabajo Social",
                "Comunicación Social",
                "Derecho",
              ],
            },
            {
              nombre: "Universidad Cristiana de Bolivia (UCEBOL)",
              carreras: [
                "Medicina",
                "Odontología",
                "Bioquímica y Farmacia",
                "Veterinaria y Zootecnia",
                "Enfermería",
                "Fisioterapia y Kinesiología",
                "Ingeniería de Sistemas",
                "Ingeniería Comercial",
                "Administración de Empresas",
                "Psicología",
                "Derecho",
                "Arquitectura",
                "Diseño Gráfico",
                "Comunicación Social",
              ],
            },
            {
              nombre: "Universidad Privada Boliviana (UPB) - Sede Santa Cruz",
              carreras: [
                "Ingeniería Comercial",
                "Administración de Empresas",
                "Ingeniería de Sistemas Computacionales",
                "Ingeniería Industrial y de Sistemas",
                "Ingeniería Petrolera y Gas Natural",
                "Ingeniería de Energías",
                "Economía",
                "Marketing y Logística",
                "Comunicación y Medios Digitales",
                "Diseño Gráfico",
              ],
            },
            {
              nombre: "Universidad Nacional Ecológica (UNE)",
              carreras: [
                "Ingeniería Ambiental",
                "Ingeniería en Energías Renovables",
                "Ingeniería Forestal",
                "Ingeniería en Agronegocios",
                "Administración de Empresas",
                "Contaduría Pública",
                "Psicología",
                "Derecho",
                "Turismo Ecológico",
                "Medicina Veterinaria y Zootecnia",
              ],
            },
            {
              nombre: "Universidad Técnica Privada Cosmos (UNITEPC)",
              carreras: [
                "Medicina",
                "Odontología",
                "Enfermería",
                "Ingeniería Comercial",
                "Ingeniería de Sistemas",
                "Administración de Empresas",
                "Arquitectura",
                "Derecho",
                "Psicología",
                "Diseño Gráfico",
              ],
            },
            {
              nombre: "Escuela Militar de Ingeniería (EMI)",
              carreras: [
                "Ingeniería Civil",
                "Ingeniería de Sistemas",
                "Ingeniería Electrónica",
                "Ingeniería Industrial",
                "Ingeniería Mecatrónica",
                "Ingeniería Petrolera y Gas Natural",
                "Ingeniería Ambiental",
                "Ingeniería en Telecomunicaciones",
                "Ingeniería en Ciencias de la Computación",
              ],
            },
            {
              nombre: "Universidad Nacional del Oriente (UNO)",
              carreras: [
                "Medicina",
                "Odontología",
                "Bioquímica y Farmacia",
                "Enfermería",
                "Fisioterapia y Kinesiología",
                "Psicología",
                "Derecho",
                "Administración de Empresas",
                "Contaduría Pública",
                "Ingeniería Comercial",
                "Ingeniería de Sistemas",
                "Ingeniería Industrial",
                "Ingeniería Petrolera y Gas Natural",
                "Arquitectura",
                "Diseño Gráfico",
              ],
            },
            {
              nombre: "Universidad Central (UNICEN)",
              carreras: [
                "Medicina",
                "Odontología",
                "Enfermería",
                "Fisioterapia y Kinesiología",
                "Bioquímica y Farmacia",
                "Psicología",
                "Derecho",
                "Administración de Empresas",
                "Contaduría Pública",
                "Ingeniería Comercial",
                "Ingeniería de Sistemas",
                "Ingeniería Industrial",
                "Ingeniería Civil",
                "Arquitectura",
                "Comunicación Social",
                "Diseño Gráfico",
                "Turismo y Hotelería",
              ],
            },
            // Agrega aquí el resto de las universidades y carreras de tu JSON
          ],
          semesters: [
            "1er Semestre",
            "2do Semestre",
            "3er Semestre",
            "4to Semestre",
            "5to Semestre",
          ],
          managerCodes: [],
          receipt: null,
          loadingProgress: 0,
          loadingMessage: "Cargando...",
        };
      },
      computed: {
        filteredCareers() {
          const selectedUniversity = this.universitiesData.find(
            (uni) => uni.nombre === this.university
          );
          return selectedUniversity ? selectedUniversity.carreras : [];
        },
      },
      watch: {
        university(newVal, oldVal) {
          if (newVal !== oldVal) {
            this.career = "";
          }
        },
      },
      mounted() {
        this.simulateLoading();
        this.fetchManagerCodes();
      },
      methods: {
        async fetchManagerCodes() {
          try {
            const response = await axios.get(
              "https://rodri.crowdtech.dev/api/encargados"
            );
            // Extraer los códigos desde la respuesta
            this.managerCodes = response.data.data.map(
              (item) => item.attributes.codigo
            );
          } catch (error) {
            console.error(
              "Error al cargar los códigos de los encargados:",
              error
            );
            // Manejar el error (opcional)
          }
        },
        handleFileUpload(event) {
          this.receipt = event.target.files[0];
        },

        async submitInscription() {
          if (!this.receipt) {
            alert("Por favor, sube un archivo de comprobante.");
            return;
          }

          try {
            // Subir el archivo al servidor
            const formData = new FormData();
            formData.append("files", this.receipt);

            const uploadResponse = await axios.post(
              "https://rodri.crowdtech.dev/api/upload",
              formData,
              {
                headers: {
                  "Content-Type": "multipart/form-data",
                },
              }
            );

            const uploadedFileId = uploadResponse.data[0].id;

            // Enviar los datos del estudiante
            const studentData = {
              data: {
                nombre: this.name,
                correo: this.email,
                universidad: this.university,
                carrera: this.career,
                comentarios: this.comments,
                encargado: this.managerCode + 1,
                comprobante: uploadedFileId,
              },
            };
            console.log(studentData);

            const response = await axios.post(
              "https://rodri.crowdtech.dev/api/estudiantes",
              studentData
            );

            alert("Inscripción enviada con éxito.");
            this.clearForm();
          } catch (error) {
            console.error("Error al enviar la inscripción:", error);
            alert("Hubo un error al enviar la inscripción.");
          }
        },
        clearForm() {
          this.name = "";
          this.email = "";
          this.university = "";
          this.career = "";
          this.comments = "";
          this.managerCode = "";
          this.receipt = null;
        },
        simulateLoading() {
          const interval = setInterval(() => {
            this.loadingProgress += 10;
            if (this.loadingProgress >= 100) {
              clearInterval(interval);
              this.loadingMessage = "¡Listo para inscribirte!";
            }
          }, 500);
        },
      },
    };
    new Vue({
      el: "#app",
      data: {
        currentPage: "inscription",
      },
      computed: {
        currentPageComponent() {
          return InscriptionPage;
        },
      },
      methods: {
        changePage(page) {
          this.currentPage = page;
        },
      },
    });
  </script>
</body>

</html>